.navbar-brand{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-light .navbar-nav .navbar-link{
    color: #000;
}

.text-warning{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 50px;
    margin-left: 20px;
}


.guest-app{
    width: 100%;
    max-width: 800px;
    background: #fff;
    margin: 70px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.guest-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.guest-app h2 img{
    width: 50px;
    margin-left: 20px;

}